<!-- include header-->
<%- include('include/_header')%>
    <!-- include header-->

    <!-- main sect-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/add-user" class="border-shadow"><span text-gradient>New User</span></a
      >
    </div>

    <!--form handling-->
    <form action="/" method="POST">
      <table class="table-responsive table caption-top table-striped">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
            </tbody>
            </table>
            </form>
            <!--form handling-->
        </div>
</main>
<!-- main sect-->

<!-- include footer-->
<%- include('include/_footer')%>
<!-- include footer-->