<!-- include header-->
<%- include('include/_header')%>
    <!-- include header-->
    <!-- main sect-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/add-user" class="border-shadow"><span text-gradient>All Users</span></a
      >
    </div>

    <!--Add Form-->
    <%-include('include/_form')%>
  </div>
</main>
<!-- main sect-->
<!-- include footer-->
<%-include('include/_footer')%>
<!-- include footer-->