<tr>
    <td>ashasbjas</td>
    <td>hik8hik</td>
    <td>hik8hik@gmail.com</td>
    <td>Female</td>
    <td>Active</td>
    <td>
        <a href="#"><span><i class="fas fa-user-edit"></i></span
    ></a>
        <a href="#"><span><i class="far fa-trash-alt"></i></span
    ></a>
    </td>
</tr>